@mixin animation ($name, $tiempo) {
    animation-name: $name;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: $tiempo;
}

;

@mixin animation_whattsap {
    animation-name: wp;
    animation-iteration-count: infinite;
    animation-timing-function: in;
    animation-duration: 2s;
    animation-delay: 2s;
}

;

@mixin animation_title {
    animation-name: titulo_h1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: steps(12);
}

;

@mixin animation-mision {
    animation-name: animation-mision;
    animation-iteration-count: infinite;
    animation-direction:normal ;
    animation-duration: 2s;
}