.navbar {
    padding: 0rem;
    position: sticky;
    top: 0;
    height: 100%;
    background-image: map-get($colores, background_nav);
    font-family: map-get($font, font_barra_navegacion);

    a {
        color: white;
    }

    .btn {
        background-color: map-get($colores, background_btn);
        color: black;
        box-shadow: 0px 15px 25px;
        border: solid black 1px;
    }

    .navbar-toggler {
        background-color: map-get($colores, color_btn_nav);
        border-bottom: solid 2px map-get($colores, color_btn_nav_borde);
    }
}