* {
    margin: 0;
    padding: 0;
}

.logo_clientes img {
    border-radius: 10px;
    width: 4cm;
    height: 2cm;
}

main {
    margin-top: 2.2cm;
}

.titulo_principal {
    animation-name: titulo;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-iteration-count:2;
    animation-delay: 0;
}

@keyframes titulo {
    10% {
        transform: scale(0.4);
    }

    50% {
        transform: scale(0.9);
    }

    75% {
        transform: scale(1.4);
    }
}

.presentacion_servicios p,
.presentacion_servicios h2 {
    font-size: 2em;
    width: 90%;
    text-shadow: 1px 1px 2px white, 0 0 1em rgb(253, 253, 255), 0 0 0.2em rgb(201, 201, 243);
}

.impresiones img,
.impresiones h3,
.impresiones p {
    animation-name: animar3;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
}

@keyframes animar3 {
    0% {
        transform: translateX(-50px);
    }
}



.diseño_grafico img,
.diseño_grafico h3,
.diseño_grafico p {
    animation-name: animar4;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
}

@keyframes animar4 {
    0% {
        transform: translateX(50px);
    }
}

.articulo_servicio img {
    animation-name: animar;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
}

@keyframes animar {
    0% {
        transform: translateY(-40px);
    }
}

.articulo_servicio h4,
.articulo_servicio p,
.articulo_servicio li {
    animation-name: animar2;
    animation-duration: 2s;
}

@keyframes animar2 {
    0% {
        transform: translateY(40px);
    }
}

.galeria_fotos img {
    width: 100%;
    height: 400px;
    padding: 15px;
    box-shadow: 0px 15px 25px;
}

.galeria_fotos img:hover {
    border: solid 5px rgb(253, 252, 251);
    cursor: pointer;
}

.contacto_datos {
    font-size: x-large;
}

.contacto_importante {
    font-weight: bolder;
}

.contacto_texto {
    font-style: oblique;
}

.identificacion {
    width: 100%;
    text-align: start;
}

@media screen and (max-width:400px) {

    .presentacion_servicios h2,
    .contacto_datos,
    h2 {
        font-size: 15px;
    }

    .presentacion_servicios a,
    .presentacion_servicios p
    {
        font-size: 13px ;
    }
}

@media screen and (min-width:401px) and (max-width:650px) {

    .presentacion_servicios h2,
    .presentacion_servicios a,
    .presentacion_servicios p,
    .contacto_datos {
        font-size: 17px;
    }
}

@media screen and (min-width:651px) and (max-width:1000px) {

    .presentacion_servicios h2,
    .presentacion_servicios a,
    .presentacion_servicios p {
        font-size: 25px;
    }
}
