* {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 0.5rem;
}

.logo_clientes img {
    border-radius: 10px;
    width: 4cm;
    height: 2cm;
}

main {
    margin-top: 2.2cm;
}

.imagenesvarias img {
    width: 100%;
    height: 400px;
    padding: 15px;
}

.imagenesvarias img:hover {
    border: solid 5px rgb(253, 252, 251);
}

.presentacion_servicios p,
.presentacion_servicios h2 {
    font-size: 2em;
    width: 90%;
    text-shadow: 1px 1px 2px white, 0 0 1em rgb(253, 253, 255), 0 0 0.2em rgb(201, 201, 243);
}

@media screen and (max-width:400px) {
    .presentacion_servicios h2,
    .presentacion_servicios a,
    .presentacion_servicios p {
        font-size: 15px;
    }
}

@media screen and (min-width:401px) and (max-width:650px) {

    .presentacion_servicios h2,
    .presentacion_servicios a,
    .presentacion_servicios p {
        font-size: 17px;
    }
}

@media screen and (min-width:651px) and (max-width:1000px) {

    .presentacion_servicios h2,
    .presentacion_servicios a,
    .presentacion_servicios p {
        font-size: 25px;
    }
}