@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/*Fonts*/
/*Colour*/
.navbar {
  background-color: rgba(15, 15, 15, 0.911);
  font-family: "Lato", sans-serif;
}

main {
  margin-top: 2.2cm;
}

.inicio {
  display: flex;
}

.carousel {
  margin-left: 5px;
  width: 110%;
  box-shadow: 0px 10px 25px;
  height: 500px;
  border-radius: 20%;
}
.carousel img {
  width: 100%;
  height: 500px;
  border-radius: 20%;
}

.logo_clientes img {
  border-radius: 10px;
  width: 4cm;
  height: 2cm;
}

h4 {
  font-family: "Aref Ruqaa Ink", serif;
  text-decoration: underline;
}

.titulo_principal {
  -webkit-animation-name: titulo;
          animation-name: titulo;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
@-webkit-keyframes titulo {
  10% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.4);
  }
}
@keyframes titulo {
  10% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.4);
  }
}

.presentacion_servicios {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.24), rgba(255, 255, 0, 0.151));
  width: 100%;
  margin-top: 16%;
  margin-right: 10px;
  padding-left: 60px;
  box-shadow: 0px 0px 25px;
  border-radius: 10px;
}
.presentacion_servicios h2 {
  font-size: 2em;
  width: 100%;
  margin: 0% auto 0% auto;
  text-align: center;
  margin: 20px 0px;
}
.presentacion_servicios p {
  font-size: 1.6em;
  width: 90%;
  margin: 0% auto 0% auto;
  text-align: justify;
}
.presentacion_servicios .comunicate {
  text-align: start;
  margin: 10px 0px;
  width: 100%;
}
.presentacion_servicios i {
  color: black;
}

.impresiones img,
.impresiones h3,
.impresiones p {
  -webkit-animation-name: animar3;
          animation-name: animar3;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
@-webkit-keyframes animar3 {
  0% {
    transform: translateX(-50px);
  }
}
@keyframes animar3 {
  0% {
    transform: translateX(-50px);
  }
}

.diseño_grafico img,
.diseño_grafico h3,
.diseño_grafico p {
  -webkit-animation-name: animar4;
          animation-name: animar4;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
@-webkit-keyframes animar4 {
  0% {
    transform: translateX(50px);
  }
}
@keyframes animar4 {
  0% {
    transform: translateX(50px);
  }
}

.articulo_servicio img {
  -webkit-animation-name: animar;
          animation-name: animar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
@-webkit-keyframes animar {
  0% {
    transform: translateY(-40px);
  }
}
@keyframes animar {
  0% {
    transform: translateY(-40px);
  }
}

.articulo_servicio h4,
.articulo_servicio p,
.articulo_servicio li {
  -webkit-animation-name: animar2;
          animation-name: animar2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes animar2 {
  0% {
    transform: translateY(40px);
  }
}
@keyframes animar2 {
  0% {
    transform: translateY(40px);
  }
}

.galeria_fotos img {
  width: 100%;
  height: 400px;
  padding: 15px;
  box-shadow: 0px 15px 25px;
}
.galeria_fotos img:hover {
  border: solid 5px rgb(253, 252, 251);
  cursor: pointer;
}

.contacto_datos {
  font-size: x-large;
}

.contacto_importante {
  font-weight: bolder;
}

.contacto_texto {
  font-family: "Bebas Neue", cursive;
}

.identificacion {
  width: 100%;
  text-align: start;
}

.copryght h5 {
  font-size: small;
}

@media screen and (max-width: 400px) {
  .presentacion_servicios h2,
.contacto_datos,
h2 {
    font-size: 15px;
  }
  .presentacion_servicios a,
.presentacion_servicios p {
    font-size: 13px;
  }
  .inicio {
    flex-direction: column;
  }
  .carousel {
    margin: auto;
    width: 100%;
    box-shadow: 0px 0px 15px;
    height: 300px;
  }
  .carousel img {
    width: 100%;
    height: 300px;
  }
  .presentacion_servicios {
    margin-right: 0px;
    padding-left: 0px;
    margin-top: 5px;
  }
  .presentacion_servicios .comunicate {
    text-align: center;
  }
}
@media screen and (min-width: 401px) and (max-width: 650px) {
  .presentacion_servicios h2,
.presentacion_servicios a,
.presentacion_servicios p,
.contacto_datos {
    font-size: 13px;
  }
  .presentacion_servicios {
    width: 100%;
    margin-top: 10%;
    text-align: start;
    padding-left: 10px;
  }
  .presentacion_servicios h2 {
    text-align: start;
    width: 100%;
    margin: 10px 0px;
  }
  .presentacion_servicios p {
    text-align: center;
    width: 100%;
  }
  .presentacion_servicios .comunicate {
    text-align: start;
    width: 100%;
  }
  .carousel {
    width: 100%;
    height: 250px;
  }
  .carousel img {
    width: 100%;
    height: 250px;
  }
}
@media screen and (min-width: 651px) and (max-width: 1000px) {
  .presentacion_servicios h2,
.presentacion_servicios a,
.presentacion_servicios p {
    font-size: 1.3em;
  }
  .presentacion_servicios .comunicate {
    text-align: center;
  }
}/*# sourceMappingURL=estilo.css.map */